## [When Will The Terrorists Attack?](https://fivethirtyeight.com/features/when-will-the-arithmetic-anarchists-attack/)

#### Riddler Express

#### From Eric Veneto, mathematical madmen are on the loose:

#### The year is 2000, and an arithmetical anarchist group has an idea. For the next 100 years, it will vandalize a famous landmark whenever the year (in two-digit form, for example this year is “18”) is the product of the month and date (i.e. month × date = year, in the MM/DD/YY format).

#### A few questions about the lawless ensuing century: How many attacks will happen between the beginning of 2001 and the end of 2099? What year will see the most vandalism? The least? What will be the longest gap between attacks?

In [1]:
import pandas as pd
import numpy as np
dates = pd.read_csv('date.csv')
dates['month'] = dates.Date.str.extract('([^/]+)/[^/]+/[^/]+').astype(float)
dates['day'] = dates.Date.str.extract('[^/]+/([^/]+)/[^/]+').astype(float)
dates['year'] = dates.Date.str.extract('[^/]+/[^/]+/([^/]+)').astype(float)

answers =[]
count = 0

for i in dates.Date:
    if int(dates['year'][count]) == int(dates['day'][count])*int(dates['month'][count]):
        answers.append(i)
    count += 1

c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  after removing the cwd from sys.path.
c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """
c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [2]:
answers

['01/01/01',
 '01/02/02',
 '02/01/02',
 '01/03/03',
 '03/01/03',
 '01/04/04',
 '02/02/04',
 '04/01/04',
 '01/05/05',
 '05/01/05',
 '01/06/06',
 '02/03/06',
 '03/02/06',
 '06/01/06',
 '01/07/07',
 '07/01/07',
 '01/08/08',
 '02/04/08',
 '04/02/08',
 '08/01/08',
 '01/09/09',
 '03/03/09',
 '09/01/09',
 '01/10/10',
 '02/05/10',
 '05/02/10',
 '10/01/10',
 '01/11/11',
 '11/01/11',
 '01/12/12',
 '02/06/12',
 '03/04/12',
 '04/03/12',
 '06/02/12',
 '12/01/12',
 '01/13/13',
 '01/14/14',
 '02/07/14',
 '07/02/14',
 '01/15/15',
 '03/05/15',
 '05/03/15',
 '01/16/16',
 '02/08/16',
 '04/04/16',
 '08/02/16',
 '01/17/17',
 '01/18/18',
 '02/09/18',
 '03/06/18',
 '06/03/18',
 '09/02/18',
 '01/19/19',
 '01/20/20',
 '02/10/20',
 '04/05/20',
 '05/04/20',
 '10/02/20',
 '01/21/21',
 '03/07/21',
 '07/03/21',
 '01/22/22',
 '02/11/22',
 '11/02/22',
 '01/23/23',
 '01/24/24',
 '02/12/24',
 '03/08/24',
 '04/06/24',
 '06/04/24',
 '08/03/24',
 '12/02/24',
 '01/25/25',
 '05/05/25',
 '01/26/26',
 '02/13/26',
 '01/27/27',
 '03/09/27',
 '09/03/27',
 '01/28/28',
 '02/14/28',
 '04/07/28',
 '07/04/28',
 '01/29/29',
 '01/30/30',
 '02/15/30',
 '03/10/30',
 '05/06/30',
 '06/05/30',
 '10/03/30',
 '01/31/31',
 '02/16/32',
 '04/08/32',
 '08/04/32',
 '03/11/33',
 '11/03/33',
 '02/17/34',
 '05/07/35',
 '07/05/35',
 '02/18/36',
 '03/12/36',
 '04/09/36',
 '06/06/36',
 '09/04/36',
 '12/03/36',
 '02/19/38',
 '03/13/39',
 '02/20/40',
 '04/10/40',
 '05/08/40',
 '08/05/40',
 '10/04/40',
 '02/21/42',
 '03/14/42',
 '06/07/42',
 '07/06/42',
 '02/22/44',
 '04/11/44',
 '11/04/44',
 '03/15/45',
 '05/09/45',
 '09/05/45',
 '02/23/46',
 '02/24/48',
 '03/16/48',
 '04/12/48',
 '06/08/48',
 '08/06/48',
 '12/04/48',
 '07/07/49',
 '02/25/50',
 '05/10/50',
 '10/05/50',
 '03/17/51',
 '02/26/52',
 '04/13/52',
 '02/27/54',
 '03/18/54',
 '06/09/54',
 '09/06/54',
 '05/11/55',
 '11/05/55',
 '02/28/56',
 '04/14/56',
 '07/08/56',
 '08/07/56',
 '03/19/57',
 '03/20/60',
 '04/15/60',
 '05/12/60',
 '06/10/60',
 '10/06/60',
 '12/05/60',
 '03/21/63',
 '07/09/63',
 '09/07/63',
 '04/16/64',
 '08/08/64',
 '05/13/65',
 '03/22/66',
 '06/11/66',
 '11/06/66',
 '04/17/68',
 '03/23/69',
 '05/14/70',
 '07/10/70',
 '10/07/70',
 '03/24/72',
 '04/18/72',
 '06/12/72',
 '08/09/72',
 '09/08/72',
 '12/06/72',
 '03/25/75',
 '05/15/75',
 '04/19/76',
 '07/11/77',
 '11/07/77',
 '03/26/78',
 '06/13/78',
 '04/20/80',
 '05/16/80',
 '08/10/80',
 '10/08/80',
 '03/27/81',
 '09/09/81',
 '03/28/84',
 '04/21/84',
 '06/14/84',
 '07/12/84',
 '12/07/84',
 '05/17/85',
 '03/29/87',
 '04/22/88',
 '08/11/88',
 '11/08/88',
 '03/30/90',
 '05/18/90',
 '06/15/90',
 '09/10/90',
 '10/09/90',
 '07/13/91',
 '04/23/92',
 '03/31/93',
 '05/19/95',
 '04/24/96',
 '06/16/96',
 '08/12/96',
 '12/08/96',
 '07/14/98',
 '09/11/99',
 '11/09/99']

In [3]:
print(" The terrorists will attack ", len(answers), "times between 2001 and 2099.")

 The terrorists will attack  212 times between 2001 and 2099.

In [4]:
answers = pd.DataFrame(answers)

In [5]:
answers.columns =['Date']

In [6]:
answers['month'] = answers['Date'].str.extract('([^/]+)/[^/]+/[^/]+').astype(float)
answers['date'] = answers['Date'].str.extract('[^/]+/([^/]+)/[^/]+').astype(float)
answers['year'] = answers['Date'].str.extract('[^/]+/[^/]+/([^/]+)').astype(float)

c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

c:\users\kj.park\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
answers.describe()

            month        date        year
count  212.000000  212.000000  212.000000
mean     4.929245   11.316038   42.886792
std      3.223094    7.912383   27.860288
min      1.000000    1.000000    1.000000
25%      2.000000    5.000000   19.750000
50%      4.000000    9.000000   38.500000
75%      7.000000   16.250000   65.250000
max     12.000000   31.000000   99.000000

In [8]:
answers['year'].value_counts(normalize=False, sort=True, ascending=False, bins=None)

24.0    7
60.0    6
36.0    6
30.0    6
72.0    6
12.0    6
48.0    6
20.0    5
18.0    5
40.0    5
90.0    5
84.0    5
10.0    4
16.0    4
54.0    4
42.0    4
56.0    4
80.0    4
8.0     4
6.0     4
28.0    4
96.0    4
50.0    3
44.0    3
22.0    3
27.0    3
21.0    3
45.0    3
66.0    3
63.0    3
       ..
64.0    2
75.0    2
55.0    2
52.0    2
81.0    2
76.0    1
34.0    1
69.0    1
85.0    1
87.0    1
91.0    1
92.0    1
93.0    1
95.0    1
13.0    1
17.0    1
68.0    1
65.0    1
19.0    1
57.0    1
23.0    1
51.0    1
49.0    1
46.0    1
98.0    1
39.0    1
29.0    1
38.0    1
31.0    1
1.0     1
Name: year, Length: 79, dtype: int64

From this the year 2024 will have the most frequent attacks with 7 attacks. The following years will have the least attacks at one attack a year:
2001, 2031, 2038, 2029, 2039, 2098, 2046, 2049, 2051, 2057, 2023, 2019, 2065, 2068, 2017, 2013, 2095, 2093, 2092, 2091, 2087, 2085, 2069, 2034, and 2076 for 24 years of singular attacks.

In [9]:
answers.sort_values(by = 'year',  inplace=True)
answers

         Date  month  date  year
0    01/01/01    1.0   1.0   1.0
1    01/02/02    1.0   2.0   2.0
2    02/01/02    2.0   1.0   2.0
3    01/03/03    1.0   3.0   3.0
4    03/01/03    3.0   1.0   3.0
5    01/04/04    1.0   4.0   4.0
6    02/02/04    2.0   2.0   4.0
7    04/01/04    4.0   1.0   4.0
8    01/05/05    1.0   5.0   5.0
9    05/01/05    5.0   1.0   5.0
13   06/01/06    6.0   1.0   6.0
12   03/02/06    3.0   2.0   6.0
11   02/03/06    2.0   3.0   6.0
10   01/06/06    1.0   6.0   6.0
14   01/07/07    1.0   7.0   7.0
15   07/01/07    7.0   1.0   7.0
16   01/08/08    1.0   8.0   8.0
17   02/04/08    2.0   4.0   8.0
18   04/02/08    4.0   2.0   8.0
19   08/01/08    8.0   1.0   8.0
20   01/09/09    1.0   9.0   9.0
21   03/03/09    3.0   3.0   9.0
22   09/01/09    9.0   1.0   9.0
26   10/01/10   10.0   1.0  10.0
25   05/02/10    5.0   2.0  10.0
23   01/10/10    1.0  10.0  10.0
24   02/05/10    2.0   5.0  10.0
27   01/11/11    1.0  11.0  11.0
28   11/01/11   11.0   1.0  11.0
29   01/12/12    1.0  12.0  12.0
..        ...    ...   ...   ...
181  05/16/80    5.0  16.0  80.0
183  10/08/80   10.0   8.0  80.0
185  09/09/81    9.0   9.0  81.0
184  03/27/81    3.0  27.0  81.0
186  03/28/84    3.0  28.0  84.0
187  04/21/84    4.0  21.0  84.0
188  06/14/84    6.0  14.0  84.0
189  07/12/84    7.0  12.0  84.0
190  12/07/84   12.0   7.0  84.0
191  05/17/85    5.0  17.0  85.0
192  03/29/87    3.0  29.0  87.0
193  04/22/88    4.0  22.0  88.0
194  08/11/88    8.0  11.0  88.0
195  11/08/88   11.0   8.0  88.0
198  06/15/90    6.0  15.0  90.0
200  10/09/90   10.0   9.0  90.0
199  09/10/90    9.0  10.0  90.0
197  05/18/90    5.0  18.0  90.0
196  03/30/90    3.0  30.0  90.0
201  07/13/91    7.0  13.0  91.0
202  04/23/92    4.0  23.0  92.0
203  03/31/93    3.0  31.0  93.0
204  05/19/95    5.0  19.0  95.0
205  04/24/96    4.0  24.0  96.0
206  06/16/96    6.0  16.0  96.0
207  08/12/96    8.0  12.0  96.0
208  12/08/96   12.0   8.0  96.0
209  07/14/98    7.0  14.0  98.0
210  09/11/99    9.0  11.0  99.0
211  11/09/99   11.0   9.0  99.0

[212 rows x 4 columns]

In [30]:
diff_between_attacks = answers['year'].diff(periods=1)

In [27]:
diff_between_attacks.max()

3.0

The largest amount of years before another attack between 2001 and 2099 is almost 3 years.